* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

nav {
  position: absolute;
  width: 100%;
  background: #000000;
  font-size: 16px;
  box-shadow: 0 0 10px rgba(0,0,0,1);
}

.icon-navbar {
  z-index: 100;
  padding-left: 10px;
  padding-right: 10px;
}

.icon-navbar:hover {
  background: #FCA136;
  color: #ffffff !important;
}

/* first stage */

nav > ul {
  position: relative;
  display: flex;
  justify-content: center;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

nav a {
  display: block;
  color: #fff;
  text-decoration: none;
}

nav ul li {
  color: #fff;
  list-style: none;
  transition: 0.5s;
}

nav > ul > li > a {
  padding: 15px 30px 15px;
}

nav ul > li.submenu > a:after {
  position: relative;
  float: right;
  content: '';
  margin-left: 10px;
  margin-top: 8px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  border-bottom: 5px solid transparent;
}

li > a:hover {
  color: #FFFFFF;
}

nav ul > li.submenu:hover > a:after {
  margin-top: 2px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid #fff;
}

nav > ul > li:hover {
  background: #FCA136;
  color: #ffffff !important;
  cursor: pointer;
}

/* second stage (the mega-menu) */

nav ul.megamenu {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  top: -9999px;
  left: 0;
  padding: 40px 40px 0 40px;
  background: #fff;
  text-align: left;
  border-top: 5px solid #FCA136;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

nav ul li:hover ul.megamenu {
  top: 100%;
}

/* third stage (child-menus in the mega-menu) */

nav ul.megamenu ul {
  width: 25%;
  margin-bottom: 40px;
  color: #000;
  box-shadow: none;
}

nav ul.megamenu h4 {
  margin-bottom: 15px;
  text-transform: uppercase;
}

nav ul.megamenu ul li {
  display: block;
}

nav ul.megamenu ul li a {
  margin-top: 10px;
  transition: 0.5s;
  color: #000;
}

nav ul.megamenu ul li a:hover {
  color: #FCA136;
}


.image-icon {
  width: 5%;
  height: 5%;
  border: 1px solid red;
}