.content-pdf {
    background: white;
    width: 450px !important;
    margin-left: -30% !important;
}

.bg-file-pdf {
    height: 550px !important;
}

.text-title-pdf {
    font-family: 'open sans', sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin-top: 0;
    line-height: 12px;
    margin-bottom: 0;
}

.text-subtitle-pdf {
    font-family: 'open sans', sans-serif;
    font-size: 10px;
    font-weight: bold;
    line-height: 12px;
}

.text-subtitle-option-pdf {
    font-family: 'open sans', sans-serif;
    font-size: 9px;
    line-height: 12px;
}

.div-doc {
    margin-top: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
    width: 100%;
    display: inline-flex;
}

.doc-div-width {
    width: 270px;
}

.doc-section-width {
    width: 60px;
    margin-right: 3%;
}